* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* to'liq scrollbar */
.textbox::-webkit-scrollbar {
  width: 10px;
}
/* scrollbar yo'li */
.textbox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
/* scrollbar ko'rsatkichi */
.textbox::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 30px;
}
}
span, a{
    display: inline-block;
}
.all{
    background-image: linear-gradient(
        95deg,
        rgba(196, 22, 196, 0.897),
        rgba(119, 15, 119, 0.822),
        rgba(22, 22, 255, 0.904),
        rgba(16, 141, 141, 0.815)
    );
    padding: 40px;
}
.box{
    width: 580px;
    margin: auto;
    border: 10px solid black;
    border-radius: 15px;
    border-bottom: 30px solid black;
}
.top, .end{
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.textbox{
    overflow: auto;
    height: 500px;
    padding: 15px;
    background-color: white;
}
.text{
    width: 500px;
    padding-bottom: 13px;
}
.tugma{
    background-color: rgb(92, 92, 105);
    color: white;
    font-size: 22px;
    padding: 13px;
    border: none;
    border-radius: 13px;
}
.p{
    border-right: 4px solid grey;
    padding: 15px;
    font-size: 20px;
}